body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
    background-color: rgb(106, 104, 104);
/*     i m just trying to fix somwthings */
}


.wrapper {
    display: flex; 
    width: 100%;
    justify-content: space-around;
    
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    animation: circular-show 1.6s infinite;
}

@keyframes circular-show {
    0% {
        stroke-dasharray: 10, 510;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 170, 510;
        stroke-dashoffset: -250;
    }
    100% {
        stroke-dasharray: 150, 510;
        stroke-dashoffset: -510;
    }
}
line{
    animation: line-show 1.6s ease-in-out infinite;

}

@keyframes line-show{
    0%{
     stroke-dasharray:10,200 ;
     stroke-dashoffset: 0;

    }
    50%{
    stroke-dasharray: 60,200;
     stroke-dashoffset: -100 ;
    }
    100%{
        stroke-dasharray: 60,200;
        stroke-dashoffset: -200 ;
    }
}
